<html>
   <head>
      <title>Investigating Official Developmental Aid per Capita</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript" src = "https://www.google.com/jsapi">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['treemap']});     
      </script>
   </head>
   
   <body>
      <center> <h3> Visualizing Per Capita Debt Globally in 2015</h3></center>
      <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
      <script language = "JavaScript">
         function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            var data = google.visualization.arrayToDataTable([
            ['Location','Parent','2015 Data'],
['Global', null, 0],
['East Asia & Pacific','Global',3.93],
['Europe & Central Asia','Global',15.1],
['Latin America & Caribbean','Global',17.31],
['Middle East & North Africa','Global',61.19],
['South Asia','Global',8.92],
['Sub-Saharan Africa','Global',45.52],
['China','East Asia & Pacific',-0.24],
['Fiji','East Asia & Pacific',114.87],
['Micronesia, Fed. Sts.','East Asia & Pacific',779.35],
['Indonesia','East Asia & Pacific',-0.13],
['Cambodia','East Asia & Pacific',43.76],
['Kiribati','East Asia & Pacific',577.81],
['Lao PDR','East Asia & Pacific',70.69],
['Marshall Islands','East Asia & Pacific',1076.73],
['Myanmar','East Asia & Pacific',22.3],
['Mongolia','East Asia & Pacific',79.39],
['Malaysia','East Asia & Pacific',-0.02],
['Nauru','East Asia & Pacific',2505.01],
['Philippines','East Asia & Pacific',5.07],
['Palau','East Asia & Pacific',654.36],
['Papua New Guinea','East Asia & Pacific',74.67],
['Korea, Dem. People’s Rep.','East Asia & Pacific',5.21],
['Solomon Islands','East Asia & Pacific',323.47],
['Thailand','East Asia & Pacific',0.85],
['Timor-Leste','East Asia & Pacific',171.07],
['Tonga','East Asia & Pacific',643.07],
['Tuvalu','East Asia & Pacific',4513.23],
['Vietnam','East Asia & Pacific',33.74],
['Vanuatu','East Asia & Pacific',705.06],
['Samoa','East Asia & Pacific',483.69],
['Albania','Europe & Central Asia',115.8],
['Armenia','Europe & Central Asia',119.12],
['Azerbaijan','Europe & Central Asia',7.22],
['Bosnia and Herzegovina','Europe & Central Asia',100.41],
['Belarus','Europe & Central Asia',11.02],
['Georgia','Europe & Central Asia',120.77],
['Kazakhstan','Europe & Central Asia',4.7],
['Kyrgyz Republic','Europe & Central Asia',129.26],
['Moldova','Europe & Central Asia',87.95],
['Macedonia, FYR','Europe & Central Asia',103.07],
['Montenegro','Europe & Central Asia',160.67],
['Serbia','Europe & Central Asia',44.04],
['Tajikistan','Europe & Central Asia',49.87],
['Turkmenistan','Europe & Central Asia',4.24],
['Turkey','Europe & Central Asia',27.41],
['Ukraine','Europe & Central Asia',32.1],
['Uzbekistan','Europe & Central Asia',14.31],
['Kosovo','Europe & Central Asia',242.98],
['Argentina','Latin America & Caribbean',-0.43],
['Antigua and Barbuda','Latin America & Caribbean',14.91],
['Belize','Latin America & Caribbean',78.68],
['Bolivia','Latin America & Caribbean',73.78],
['Brazil','Latin America & Caribbean',4.87],
['Chile','Latin America & Caribbean',3.06],
['Colombia','Latin America & Caribbean',28.11],
['Costa Rica','Latin America & Caribbean',23.15],
['Cuba','Latin America & Caribbean',48.23],
['Dominica','Latin America & Caribbean',160.06],
['Dominican Republic','Latin America & Caribbean',26.59],
['Ecuador','Latin America & Caribbean',19.71],
['Grenada','Latin America & Caribbean',225.61],
['Guatemala','Latin America & Caribbean',25.31],
['Guyana','Latin America & Caribbean',41.82],
['Honduras','Latin America & Caribbean',60.32],
['Haiti','Latin America & Caribbean',97.64],
['Jamaica','Latin America & Caribbean',20.57],
['St. Lucia','Latin America & Caribbean',77.65],
['Mexico','Latin America & Caribbean',2.55],
['Nicaragua','Latin America & Caribbean',75.29],
['Panama','Latin America & Caribbean',2.58],
['Peru','Latin America & Caribbean',10.67],
['Paraguay','Latin America & Caribbean',9.06],
['El Salvador','Latin America & Caribbean',14.21],
['Suriname','Latin America & Caribbean',28.89],
['Uruguay','Latin America & Caribbean',6.75],
['St. Vincent and the Grenadines','Latin America & Caribbean',123.34],
['Venezuela, RB','Latin America & Caribbean',1.17],
['Djibouti','Middle East & North Africa',182.83],
['Algeria','Middle East & North Africa',2.19],
['Egypt, Arab Rep.','Middle East & North Africa',26.65],
['Iran, Islamic Rep.','Middle East & North Africa',1.4],
['Iraq','Middle East & North Africa',41.06],
['Jordan','Middle East & North Africa',234.94],
['Lebanon','Middle East & North Africa',166.61],
['Libya','Middle East & North Africa',25.24],
['Morocco','Middle East & North Africa',42.57],
['West Bank and Gaza','Middle East & North Africa',423.15],
['Syrian Arab Republic','Middle East & North Africa',261],
['Tunisia','Middle East & North Africa',42.09],
['Yemen, Rep.','Middle East & North Africa',56.89],
['Afghanistan','South Asia',125.6],
['Bangladesh','South Asia',15.94],
['Bhutan','South Asia',123.55],
['India','South Asia',2.42],
['Sri Lanka','South Asia',20.38],
['Maldives','South Asia',64.12],
['Nepal','South Asia',42.74],
['Pakistan','South Asia',19.79],
['Angola','Sub-Saharan Africa',13.64],
['Burundi','Sub-Saharan Africa',35.94],
['Benin','Sub-Saharan Africa',40.67],
['Burkina Faso','Sub-Saharan Africa',55.05],
['Botswana','Sub-Saharan Africa',29.67],
['Central African Republic','Sub-Saharan Africa',107.07],
['Cote dIvoire','Sub-Saharan Africa',28.26],
['Cameroon','Sub-Saharan Africa',29.04],
['Congo, Dem. Rep.','Sub-Saharan Africa',34.11],
['Congo, Rep.','Sub-Saharan Africa',17.78],
['Comoros','Sub-Saharan Africa',84.61],
['Cabo Verde','Sub-Saharan Africa',286.76],
['Ethiopia','Sub-Saharan Africa',32.38],
['Gabon','Sub-Saharan Africa',51.18],
['Ghana','Sub-Saharan Africa',64.12],
['Guinea','Sub-Saharan Africa',44.5],
['Gambia, The','Sub-Saharan Africa',54.45],
['Guinea-Bissau','Sub-Saharan Africa',53.68],
['Equatorial Guinea','Sub-Saharan Africa',6.37],
['Kenya','Sub-Saharan Africa',52.17],
['Liberia','Sub-Saharan Africa',243.23],
['Lesotho','Sub-Saharan Africa',38.23],
['Madagascar','Sub-Saharan Africa',27.93],
['Mali','Sub-Saharan Africa',68.93],
['Mozambique','Sub-Saharan Africa',64.79],
['Mauritania','Sub-Saharan Africa',76.03],
['Mauritius','Sub-Saharan Africa',62.11],
['Malawi','Sub-Saharan Africa',59.71],
['Namibia','Sub-Saharan Africa',58.7],
['Niger','Sub-Saharan Africa',43.62],
['Nigeria','Sub-Saharan Africa',13.42],
['Rwanda','Sub-Saharan Africa',93.33],
['Sudan','Sub-Saharan Africa',22.37],
['Senegal','Sub-Saharan Africa',58.7],
['Sierra Leone','Sub-Saharan Africa',130.76],
['Somalia','Sub-Saharan Africa',90.12],
['South Sudan','Sub-Saharan Africa',140.95],
['Sao Tome and Principe','Sub-Saharan Africa',250.32],
['Eswatini','Sub-Saharan Africa',70.23],
['Seychelles','Sub-Saharan Africa',72.58],
['Chad','Sub-Saharan Africa',43.3],
['Togo','Sub-Saharan Africa',26.91],
['Tanzania','Sub-Saharan Africa',47.93],
['Uganda','Sub-Saharan Africa',40.56],
['South Africa','Sub-Saharan Africa',25.69],
['Zambia','Sub-Saharan Africa',49.51],
['Zimbabwe','Sub-Saharan Africa',49.96]
            ]);
            var options = {
        highlightOnMouseOver: true,
        maxDepth: 1,
        maxPostDepth: 2,
        minHighlightColor: '#87CEEB',
        midHighlightColor: '#00FF7F',
        maxHighlightColor: '#008080',
        minColor: '#ffc6b3',
        midColor: '#ff794d',
        maxColor: '#b32d00',
        maxColorValue: '500',
        headerHeight: 15,
        showScale: true,
        generateTooltip: showFullTooltip,
        height: 500,
        useWeightedAverageForAggregation: true,
      };
                  
            // Instantiate and draw the chart.
            var chart = new google.visualization.TreeMap(document.getElementById('container'));
            chart.draw(data, options);

            function showFullTooltip(row, size, value) {
    return '<div style="background:#fd9; padding:10px; border-style:solid">' +
           '<span style="font-family:Courier"><b>' + data.getValue(row, 0) +
           '</b> <br>Official Development Assistance Per Capita:' + data.getValue(row, 2) + '</span><br>' +
 ' </div>';
  }


         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{url_for('static', filename='app.js')}}"></script>
   </body>
</html>